<div class="container">
    <h1>Crear Categoría</h1>
  
    <a href="#" routerlink="/category/list" class="btn btn-primary">Volver</a>
        
    <form [formGroup]="form" (ngSubmit)="submit()">
  
        <div class="form-group">
            <label for="title">Descripción:</label>
            <input formControlName="description" id="description" type="text" class="form-control">
            <div *ngIf="form.controls['description'].touched && form.controls['description'].invalid" class="alert alert-danger">
                <div *ngIf="form.controls['description'].errors?.['required']">Descripción requerida.</div>
            </div>
        </div>
          
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Crear</button>
    </form>
</div>
